.footer {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  bottom: -20px;
  width: 100%;
  height: 10px;
  background-color: brown;
  padding-inline: 10px;
  gap: 20px;
  align-items: center;
}