.footer {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  padding-inline: 10px;
  gap: 20px;
  align-items: center;
  background-color: rgba(253, 198, 115, 0.5);
  box-shadow:10px;
  box-shadow: darkgray;
}